@model NuGet.Licenses.Models.CompositeLicenseExpressionViewModel
@using NuGet.Licenses.Models

@functions {
    static string GetRunSpecificClass(CompositeLicenseExpressionRunType runType)
    {
        return runType.ToString().ToLowerInvariant().Replace("identifier", "");
    }

    static bool IsLicenseOrException(CompositeLicenseExpressionRun run)
    {
        return run.Type == CompositeLicenseExpressionRunType.LicenseIdentifier || run.Type == CompositeLicenseExpressionRunType.ExceptionIdentifier;
    }
}

@helper MakeLink(CompositeLicenseExpressionRun run) {<a href="@run.Value" class="@GetRunSpecificClass(run.Type)">@run.Value</a>}
@helper MakeSpan(CompositeLicenseExpressionRun run) {<span class="@GetRunSpecificClass(run.Type)">@run.Value</span>}

<p>
    Composite license expression:
</p>

<div id="license-expression">
    @foreach (var run in Model.Runs)
    {
        if (IsLicenseOrException(run))
        {
            @MakeLink(run);
        }
        else
        {
            @MakeSpan(run);
        }
    }
</div>